<template>
    <div class="activity-item">
        <h2 class="h4 activity-title"><a>{{ activity.title }}<span class="float-end btn btn-sm btn-primary">Buchen</span></a></h2>
        <p>{{ activity.description }}</p>
    </div>
</template>

<script>
export default {
    props: ['activity'],
    data() {
        return {

        }
    }
}
</script>

<style scoped>
</style>