<template>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-4 m-5 bg-light p-5">
        <h1 class="h3 text-center mb-4">Register</h1>
        <Form @submit="onRegister" :validation-schema="schema" class="needs-validation">
          <!-- 2 column grid layout with text inputs for the first and last names -->
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <label class="form-label ms-3 mb-2 small text-uppercase fw-bold" for="firstName">First Name</label>
                <Field name="firstName" type="text" class="form-control" />
                <ErrorMessage name="firstName" class="invalid-feedback d-block" />
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label ms-3 mb-2 small text-uppercase fw-bold" for="lastName">Last Name</label>
                <Field name="lastName" type="text" class="form-control" />
                <ErrorMessage name="lastName" class="invalid-feedback d-block" />
              </div>
            </div>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label ms-3 mb-2 small text-uppercase fw-bold" for="email">Email</label>
            <Field name="email" type="text" class="form-control" />
            <ErrorMessage name="email" class="invalid-feedback d-block" />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label ms-3 mb-2 small text-uppercase fw-bold" for="password">Password</label>
            <Field name="password" type="password" class="form-control" />
            <ErrorMessage name="password" class="invalid-feedback d-block" />
          </div>

          <!-- Submit button -->
          <div class="actions text-center mt-5">
            <button type="submit" class="btn btn-primary btn-lg mb-4">Create account</button>
          </div>
        </Form>
      </div>
    </div>
  </div>

</template>

<script>
import {Form, Field, ErrorMessage} from 'vee-validate';
import * as Yup from 'yup';

export default {
  components: {
    Form,
    Field,
    ErrorMessage
  },
  data() {
    const schema = Yup.object().shape({
      email: Yup.string()
          .required('Email is required'),
      firstName: Yup.string()
          .required('First Name is required'),
      lastName: Yup.string()
          .required('Last Name is required'),
      password: Yup.string()
          .required('Password is required')
          .min(6, 'Password must be at least 6 characters')
    })
    return {
      schema
    }
  },
  methods: {
    onRegister() {

    }
  }
}

</script>

<style scoped>

</style>